:root{
  --gradientoscu: #fff;
  --gradientcla:#ffff;
  --botonesfilter1:#af99ff;
  --botonesfilter2:#724cf9;

}
body{
  background: linear-gradient(to right, var(--gradientoscu), var(--gradientcla));
  margin: 0;
  padding: 0;
}

input[type="radio"] {
    position: absolute;
    left: -9999px;
  }

  /*MOBILE FIRST
  MENU INFERIOR*/
  nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    z-index: 1000;
    /*background: ; PROBAR CON css.glass*/
    
    backdrop-filter: blur(4.6px);
    -webkit-backdrop-filter: blur(4.6px);

  }

  


.nav_menu{
  /*display: flex;
  flex-direction: column;*/
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 50px;
  text-decoration: none;
  margin: 20px;
  
}

/*TITULO*/
.contenedor-title{
  display: grid;
  grid-template-columns: repeat(2,10%);
  justify-content: right;
}
.title{
  font-size: 30px;
  font-family: sans-serif;
}
#icon-title{
  border-radius: 20px;
  backdrop-filter: blur(10px);
  font-size: 28px;
  margin-right: 10px;
  
}
#icon-titlee{
  border-radius: 20px;
  font-size: 28px;
  margin-left: 10px;
  backdrop-filter: blur(10px);
  
}

.saldo_dolares{
  height: 150px;
  border-radius: 10px 10px 10px 10px;
  background: linear-gradient(to right, #3ca55c, #b5ac49);
  color: #fff;
  margin: 15px;
}

.saldo_BTC{
  margin: 15px;
  height: 150px;
  border-radius: 10px 10px 10px 10px;
  background: linear-gradient(to right, #f12711, #f5af19);
  color: #fff;
}
.parrafo_disponible{
  padding: 10px;
  font-size: 16px;
  
}
.parrafo_disponibleMONTO{
  padding: 10px;
  font-size: 30px;
}

.btn_comprar{
  margin-top: 20px;
  margin-left: 30px;
  border: none;
  border-radius: 10px 10px 10px 10px;
  align-content: center;
  font-size: 30px;
  background: #8e2de2;
  color: #fff;
  
}
.titulo_curvo{
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  border-radius: 0px 0px 15px 15px;
  margin: 0;
  padding: 20px;
}
.titulo_curvo h1{
  color: #fff;
  padding:  0;
  
}

/*Index, mobile*/

.boton-filter{
  text-decoration: none;
  margin: 6px;
  padding: 2px;
  background: var(--botonesfilter2);
  border-radius: 5px;
  box-shadow: 4px 4px rgba(0,0,0,0.2);
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-left: 10px;
}

.container-pujas{
  margin:15px;
}

.banner_index{
  margin: 24px;
}

.title-coleccion{
  font-size: 25px;
  margin: 20px;
  text-align: center;
}

.title-section{
  font-size: 20px;
  margin: 15px;
}

.card {
  box-shadow: 6px 6px rgba(0,0,0,0.2);
  margin-top: 30px;
}
.card img{
  height: 190px;
}


.comprar{
  background: var(--botonesfilter1);
  font-size: 20px;
  margin: 15px;
  border: none;
  border-radius: 50px;
  color: #fff;
}

.titulo_curvo_index h1{
  margin-left: 20px;
}

.btn-primary{
  margin-left: 200px;
  margin-top: 50px;
  padding: 10px;
}

.nft-galeria{
  box-shadow: 6px 6px rgba(0,0,0,0.2);
  margin-top: 20px;
  overflow: hidden;
}
.nft-galeria img{
  height: 170px;
}

/*Crear efecto de like*/

.like-animation{
  height: 100px;
  width: 100px;
  background: url("../assets/likeAnimation.png");
  background-position: left;
  cursor:pointer
}
.like-animation:hover{
  animation: like-anim 0.7s steps(28) forwards;
}

@keyframes like-anim{
  to{
    background-position: right;
  }
}

.boton-borrar{
  background-color: #3ca55c;
  color: #fff;
  border: none;
  border-radius: 5px;
}